.btn {
  all: unset;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(92, 44, 15);
  background-color: rgb(124, 76, 40);
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 250ms ease-out;
  text-transform: capitalize;
}
.btn:hover {
  background-color: rgb(204, 115, 46);
}
