body {
  background-color: #000;
  color: #f3e9d9;
  width: 100vw;
  text-align: center;
}
.body {
  border-radius: 100px;
  background-image: url('./../img/bg.jpg');
  background-size: cover;
  width: 60vw;
  height: 60vh;
  font-size: 20px;
  margin: 0px auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 15%;
  padding-top: 10%;
}

@media screen and (max-width: 1200px) {
  .body {
    padding-top: 5%;
    padding-left: 5%;
    /* width: 90vw; */
    height: 80vh;
    background-position: 30%;
  }
}

@media screen and (max-width: 768px) {
  .body {
    padding-top: 15%;
    padding-left: 5%;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    font-size: 15px;
    background-position: 60%;
    background-size: contain;
  }
}
